.title {
    margin-top: 64px;
    font-family: 'Argentum Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #181818;
    letter-spacing: 0.90px;
}

.buttonDiv {
    margin-top: 32px;
    width: 100%;
    text-align: center;
}